.favCharacters {
    display: inline-flex;
    width: 100vw;
    flex-wrap: wrap;
    background-color: #00B0CB;
}

.favNamePic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 350px;
    width: 350px;
    margin: 10px auto;
    background-color: #3A3839;
    border-radius: 15px;
}

.favImage {
    height: 200px;
    width: 225px;
}

.favButton-Name {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin: 5px;
}


.charName {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 40px;
    width: 150px;
    color: white;
    font-family: 'Acme';
    font-size: 20px
}

.deleteButton {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #ABADAC;
    color: white;
}

.deleteButton:active {
    background-color: red;
    cursor: grabbing;
}

.deleteButton:hover {
    background-color: #00AFC7;
    cursor: pointer;
}

.inputBox {
    margin: 5px;
    
}

.commentBox {
    height: 40px;
    width: 200px;
    margin: 5px;
    border: 2px solid white;
    border-radius: 5px;
    color: #ABADAC;
    text-align: left;
    font-family: 'Acme';
}

.comment {
    color: white;
}