.charPage {
    background-color: #00B0CB;
}

.characters {
    display: inline-flex;
    width: 100vw;
    flex-wrap: wrap;
    margin: auto;
}

.namePic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 300px;
    margin: 10px auto;
    background-color: #3A3839;
}

.image {
    height: 200px;
    width: 200px;
    margin: 5px;
}

.buttonName {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    margin: 5px;
}

.cn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 40px;
    width: 150px;
    color: white;
    font-family: 'Acme';
    font-size: 20px;
}

.favoriteButton {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color:#ABADAC;
    color: white;
}

.favoriteButton:active {
    background-color: lightskyblue;
    cursor: grabbing;
}

.favoriteButton:hover {
    background-color: #00AFC7;
    cursor: grab;
}



