.App {
  text-align: center;
}

.navButtons {
  height: 7vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #ABADAC;
  border-bottom: 30px solid #00B0CB;
}

.button {
  background-color: #ABADAC;
  border: none;
  font-family: 'Acme';
  font-size: 25px;
}

.button:hover {
  cursor: pointer;
}



