.App {
  text-align: center;
}

.navButtons {
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #ABADAC;
}

.button {
  background-color: #ABADAC;
  border: none;
  font-family: 'Acme';
  font-size: 25px;
}

.button:hover {
  cursor: pointer;
}



